.articleCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.2em;
  padding: 10px;
  width: 600px;
  height: 250px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(156, 156, 156);
  background-color: #fff;
}

.articleContentPreview {
  display: flex;
  flex-direction: column;
}
.articleTitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.articleDesc {
  font-size: 15px;
}
.imageContainer {
  width: 70%;
  height: 70%;
  margin-left: 10px;
}

.articleContainer {
  display: flex;
  justify-content: center;
}