.container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
}

.articleContent {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 750px;
}

.backButton {
  margin-top: 10px;
  margin-left: 10px;
  color: black;
}